:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1edfe;
}
main {
  margin-left: 0 !important; /* Ajustar el margen izquierdo del contenido principal */
  width: 100% !important; /* Ajustar el ancho del contenido principal */
}
#submenu1 {
  position: relative;
  left: 20px;
}
.primary-text{
    color: cornflowerblue;
    /*color: var(--main-text-color);*/
}

.second-text{
    color: var(--second-text-color);
}

.primary-bg{
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full{
    border-radius: 100%;
}

#wrapper{
    overflow-x: hidden;
    background: #E4E9f7;
}

#sidebar-wrapper{
    min-height:100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group{
    width: 15rem;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: 0.1rem;
  min-width: 10rem;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover .dropdown-toggle::after {
  transform: rotate(-90deg);
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item{
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px){
    #sidebar-wrapper{
        margin-left: 0;
    }
    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper{
        margin-left: -15rem;
    }
}

.table-container {
    margin-top: 20px;
}

@media (max-width: 992px) {
    .table-container {
        margin-top: 0;
    }
}